
*{
    padding: 0;
    margin: 0;
    list-style: none;
    font-style: none;
}
.site-header{
    max-width: 1400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 110px;
    margin: 0 auto;
}
.header-container{
    display: flex;
}
.header-container p{
    font-size: 2.2rem;
    margin-left: 1rem;
}
.social-nav a{
    color: var(--primary-text-color);
    margin: 0 2rem;
    font-size: 2rem;
    font-weight: 300;
}
.line{
    color: var(--line-color);
    width: 75%; 
    margin: 0 auto; 
    border-top: 1px solid var(--line-color); 
    margin-top: 20px; 
    margin-bottom: 80px;

}

#home{
    max-width: 1400px;
    margin: 0 auto;
}
.hero-text{
    display: flex;
    justify-content: center;
    font-size: 6rem;
    color: var(--secundary-text-color);
    margin-bottom: 5rem;
}

.home-content{
    margin: 0 100px 0 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-border{
    border-bottom: 5px solid var(--primary-border-color);
    border-top: 5px solid var(--primary-border-color);
    border-radius: 30% 0 30% 0;
}

.left-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 410px;
    padding: 35px;
    border: 2px solid var(--primary-text-color);
    border-radius: 30% 0 30% 0;
}

.profile-img{
    width: 200px;
    border-radius: 50%;
}

.left-cont h2{
    color: var(--primary-text-color);
    font-size: 2rem;
}
.left-cont p{
    color: var(--primary-text-color);
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

ul li{
    display: flex;
    align-items: center;
    color: var(--primary-text-color);
    font-size: 1rem;
}

ul i{
    margin-right: 5px;
    
}


.introduction{
    display: flex;
    flex-direction: column;
    margin-left: 150px;
}
.introduction h1{
    color: var(--primary-text-color);
    font-size: 4rem;
}
.highlight{
    color: var(--primary-border-color);
}
.introduction p{
    font-size: 1rem;
    color: var(--primary-text-color);
    margin-bottom: 3rem;
}
.contact-icon a{
    color: var(--primary-border-color);
    font-size: 2rem;
}
#whats{
    padding: 8px;
    color: var(--primary-border-color);
}

/*Navbar-lateral*/

.navbar {
    position: fixed;
    top: 202px;
    left: 65px;
    width: 64px;
    height: 376px;
    padding: 2px 0 2px 0;
    background-color: var(--secundary-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--line-color);
    border-radius: 30px;
}

.navbar a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--primary-text-color);
    text-decoration: none;
    padding: 15px;
    width: 50%;
    height: 64px;
    text-align: center;
    transition: background-color 0.3s;
    border-radius: 30px;
}

.navbar a:hover {
    background-color: var(--line-color);
    border-radius: 30px;
}

/*Sobre mim*/

.sobre-mim{
    margin-top: 128px;
    height: 1080px;
    background-image: url("/img/About-me.svg");
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid var(--line-color);
}
.content-tw{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1664px;
    height: 556px;
}
.content-sobre{
    width: 880px;
    height: 481px;
    margin-left: 157px;
    margin-top: 433px;
}
.section-title{
    width: 386px;
    text-align: center;
    background-color: var(--primary-bg-color);
    border: 2px solid var(--primary-border-color);
    margin-bottom: 64px;
    border-radius: 40px 0 40px 0;
}
.section-title h3{
    font-size: 3.5rem;
    color: var(--primary-text-color);
    text-shadow: 3px 1px 1px black;
}
.text-tw{
    display: flex;
    align-items: center;
    background-color: var(--primary-bg-color);
    width: 880px;
    height: 313px;
    border-radius: 20px;
}
.text-tw p{
    margin: 15px;
    text-align: start;
    font-size: 1.5rem;
    color: var(--primary-text-color);
    text-shadow: 1px 1px 1px black;
}
.about-me-img{
    width: 562px;
    height: 556px;
    margin-top: 396px;
}
.greeting{
    color: var(--primary-border-color);
    font-size: 3rem;
}

/*skills*/

#skill{
    background-image: url("/img/Skills.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.content-skill{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content-title{
    margin-top: 128px;
    text-align: center;
    text-shadow: 3px 1px 1px black;
}
.content-title p{
    font-size: 1.5rem;
    color: var(--primary-text-color);
}
.line-skill{
    color: var(--line-color);
    width: 25%; /* Largura desejada da linha */
    margin: 0 auto; /* Centraliza horizontalmente */
    border-top: 1px solid var(--primary-border-color); /* Estilo da linha */
    margin-top: 16px; /* Espaçamento superior opcional */
    margin-bottom: 16px;
}
.content-services{
    margin-top: 64px;
}
.skills{
    margin-top: 90px;
}

/*Cards*/

.projects{
    height: 100vh;
    background-image: url("/img/Works.svg");
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid var(--line-color);
}
.content-pjt{
    text-align: center;
    padding-top: 40px;
    text-shadow: 3px 1px 1px black;
}

.cards{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    background-color: var(--secundary-bg-color);
    margin-top: 2rem;
    width: 18rem;
    border: 1px solid #2b2c31;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 3rem;
    border-radius: 5px;
}
#pokedex{
    width: 362px;
}
#react{
    height: 443px;
}
.card-body{
    background-color: var(--primary-bg-color);
}
.card-title{
    color: var(--primary-text-color);
    font-size: 2.5rem;
    margin: 2rem;
    text-shadow: 2px 2px 3px black;
}
.card-text{
    font-size: 1rem;
    margin-bottom: 2rem;
    text-align: start;
    padding-left: 10px;
}

.btn {
    background-color: #222;
    border-radius: 4px;
    box-sizing: border-box;
    color: var(--primary-text-color);
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    margin: 0;
    max-width: none;
    min-height: 44px;
    min-width: 10px;
    overflow: hidden;
    padding: 9px 20px 8px;
    position: relative;
    text-align: center;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .btn:hover,
  .btn:focus {
    opacity: .75;
  }

#contact{
    background-color: var(--secundary-bg-color);
}

.title-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px;
    color: var(--secundary-text-color);
    font-size: 2rem;
}
form {
    max-width: 900px;
    margin: auto;
    padding: 10px;
    color: var(--secundary-text-color);
}
.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
}
label {
    display: block;
    margin-bottom: 5px;
}
input, textarea{
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid var(--primary-border-color);
    background-color: transparent;
    box-shadow: none;
    border: none;
    color: var(--primary-text-color);
    background-color: #191a1d;
}

button {
    padding: 10px 20px;
    background-color: #3498db;
    color: var(--primary-text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: var(--line-color);
}

/* FOOTER */

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1400px; 
    height: 48px;
    margin: 0 auto;
}

.font-footer {
    margin: 0;
    font-size: 1rem;
}
.footer-networks{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.footer-networks a {
    color: #000; 
    margin-left: 10px; 
    text-decoration: none;
}
.footer-networks a:hover {
    color: #007bff;
}